:root {
  --phanton-grey: #67899c;
  --phanton-blue: #62b5e5;
  --phanton-green: #addc91;
  --white: #fff;
}

@font-face {
  font-family: "HalveticaNueLight";
  src: local("HalveticaNueLight"), url("./font/HelveticaNeue-Light.otf")
  format("truetype");
}

@font-face {
  font-family: "HalveticaNueBold";
  src: local("HalveticaNueBold"), url("./font/Helvetica-Neue-Bold_22498.ttf")
  format("truetype");
  font-weight: bold;
}

.nav-bar {
  font-family: "HalveticaNueBold";
  background-color: var(--phanton-grey);
  color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
}

.nav-bar a {
  text-decoration: none;
  color: var(--white);
}

.nav-bar a:hover {
  background-color: var(--phanton-blue);
}

.nav-bar a:active {
  background-color: var(--phanton-blue);
}

.text-center {
  text-align: center;
  padding: 10px;
}

.more-icon, .trend-icon, .progress-icon, .add-icon, .user-icon {
  font-size: 30px;
  color: var(--white);
}

.add-steps-heading {
  background-color: var(--phanton-blue);
  padding: 5px 0 5px 0;
  width: 100%;
}

.add-steps-heading h1 {
  color: var(--white);
}

.steps-page h3 {
  font-family: "HalveticaNueBold";
  color: var(--phanton-grey);
}

.steps-input {
  background-color: var(--phanton-grey);
  color: var(--phanton-grey);
  display: flex;
  justify-content: center;
  align-items: center;
}

.steps-input {
  background-color: #d3d3d3;
  height: 100vh;
}

.steps-input form {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  color: #000;
  width: 320px;
  height: 320px;
  border-radius: 50%;
  margin-top: -130px;
}

.steps-input form input {
  outline: none;
  border: none;
  text-align: center;
  font-size: 80px;
  width: 50%;
  padding: 30px;
}

.submit-btn, .reset-btn {
  position: absolute;
  bottom: -70px;
}

.submit-btn {
  padding: 20px 30px 20px 30px;
  background-color: var(--phanton-green);
  margin-left: 120px;
  outline: none;
  border: none;
  color: var(--white);
  font-family: "HalveticaNueBold";
  font-size: 20px;
  width: 150px;
}

.reset-btn {
  outline: none;
  border: none;
  margin-right: 120px;
  padding: 20px 30px 20px 30px;
  background-color: var(--white);
  color: var(--phanton-grey);
  font-family: "HalveticaNueBold";
  font-size: 20px;
  width: 150px;
}

.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--phanton-grey)
}

#name, #password {
  padding: 10px;
  width: 250px;
  background-color: transparent;
  border: 2px solid var(--phanton-green);
  outline: none;
  border-radius: 15px;
  margin-bottom: 10px;
  color: var(--white);
  font-size: 20px;
}

::placeholder {
  color: var(--white);
}

#submit-btn {
  width: 100px;
  height: 40px;
  margin: 0 auto;
  background-color: var(--phanton-green);
  padding: 5px;
  border: 2px solid var(--phanton-green);
  font-size: 20px;
  border-radius: 10px;
}

#submit-btn:hover {
  background-color: transparent;
  color: var(--white)
}

.btn-wrapper {
  display: flex;
  justify-self: center;
}
